# Ignore input and output files
clatr_data/
output/
input/
database/
logs/
*.xlsx
*.pdf
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Python virtual environments
.venv/
venv*/
env/
ENV/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
src/infoscopy.egg-info/

# VSCode, PyCharm
.vscode/
.idea/
*.swp

# Logs and caches
*.log
*.sqlite
.cache/
*.pkl
*.db

# Test and coverage
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter and IPython
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Configs
config.yaml
*.secrets.yaml

# Misc
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Cache dirs (used by tools)
.cache/
.mypy_cache/
.pytest_cache/
.tox/
.coverage
htmlcov/